.event__list-item {
  margin: 2rem 0;
  padding: 1.2rem;
  border: 1px solid #512da8;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event__list-item h1 {
  margin: 0;
  font-size: 3rem;
  color: #512da8;
}

.event__list-item h2 {
  margin: 0;
  font-size: 2;
  color: #474747;
}

.event__list-item p {
  margin: 0;
  font-size: 1.6rem;
  color: #8f8f8f;
}

@media (max-width: 768px) {
  .event__list-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .event__list-item div {
    margin-bottom: 1.2rem;
  }

  .event__list-item__control {
    width: 100%;
    text-align: center;
  }

  .event__list-item__control button {
    width: 100%;
  }
}
