.bookings__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 60rem;
  max-width: 90%;
}

.bookings__item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #512da8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookings__item-data h1,
.bookings__item-data p {
  margin: 0;
}

.bookings__item-data h1 {
  font-size: 2.4rem;
  color: #512da8;
}

.bookings__item-data p {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .bookings__item {
    flex-direction: column;
    align-items: flex-start;
  }

  .bookings__item div {
    margin-bottom: 1rem;
  }

  .bookings__item-actions,
  .bookings__item-actions button {
    width: 100%;
  }
}
